<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="FolderToZipLocation" value="C:\BackupZip"/>
    <add key="FolderFromZipLocation" value="C:\Backup"/>
  </appSettings>
  <connectionStrings>
    <add name="StorageConnectionString" connectionString=""/>
  </connectionStrings>
</configuration>